<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>所有菜品</title>
    <link th:include="common :: commonheader">
</head>

<body class="sticky-header">

    <section>
        <div th:include="common :: commonleft"></div>

        <!-- main content start-->
        <div class="main-content">

            <div th:replace="common :: commonup"></div>

            <!-- page heading start-->
            <div class="page-heading">
                <h3 style="font-size: xx-large;">
                    所有菜品
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <a href="#"> 控制面板 </a>
                    </li>
                    <li>
                        <a href="#"> 表格 </a>
                    </li>
                    <li class="active"> 所有菜品 </li>
                </ul>
            </div>
            <!-- page heading end-->

            <!--body wrapper start-->
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                菜品表
                            </header>
                            <div class="panel-body">
                                <div class="adv-table">
                                    <table class="display table table-bordered table-striped" id="dynamic-table">
                                        <thead>
                                            <tr>
                                                <th>菜品编号</th>
                                                <th>菜品名</th>
                                                <th>菜品种类</th>
                                                <th>菜品单价</th>
                                                <th>修改/删除</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr align="center" class="gradeX" th:each="row : ${list}">
                                                <td width="20%" th:text="${row.dishesId}"></td>
                                                <td width="20%" th:text="${row.dishesName}"></td>
                                                <td width="20%" th:text="${map.get(row.dishesCategory)}"></td>
                                                <td width="20%" th:text="${row.dishesPrice}"></td>
                                                <td width="20%">
                                                    <div class="btn-group btn-group-justified">
                                                        <a href="#" class="btn btn-info">修改</a>
                                                        <a th:href="@{/dishes/del/{id}(id=${row.dishesId})}"
                                                            class="btn btn-danger">删除</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>菜品编号</th>
                                                <th>菜品名</th>
                                                <th>菜品种类</th>
                                                <th>菜品单价</th>
                                                <th>修改/删除</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!--body wrapper end-->

            <!--footer section start-->
            <footer>
                2014 &copy; AdminEx by ThemeBucket
            </footer>
            <!--footer section end-->


        </div>
        <!-- main content end-->
    </section>


    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
    <!--dynamic table initialization -->
    <script src="js/dynamic_table_init.js"></script>


    <div th:include="common :: commonscript"></div>

</body>

</html>