<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>所有菜品</title>
    <link th:include="common :: commonheader">
</head>

<body class="sticky-header">

    <section>
        <div th:include="common :: commonleft"></div>

        <!-- main content start-->
        <div class="main-content">

            <div th:replace="common :: commonup"></div>

            <!-- page heading start-->
            <div class="page-heading">
                <h3 style="font-size: xx-large;">
                    所有菜品
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <a th:href="@{/index.html}"> 控制面板 </a>
                    </li>
                    <li>
                        <a th:href="@{/index.html}"> 表格 </a>
                    </li>
                    <li class="active"> 所有菜品 </li>
                </ul>
            </div>
            <!-- page heading end-->

            <!--body wrapper start-->
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                菜品表
                                <a class="btn btn-success tools pull-right" type="button" href="#addDishes"
                                    data-toggle="modal">添加菜品</a>
                            </header>
                            <div class="panel-body">
                                <div class="adv-table">
                                    <table class="display table table-bordered table-striped" id="dynamic-table">
                                        <thead style="text-align: center;">
                                            <tr>
                                                <th>菜品编号</th>
                                                <th>菜品名</th>
                                                <th>
                                                    <select onchange="window.location=this.value;">
                                                        <option th:selected="${type=='-1' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=-1">所有菜系</option>
                                                        <option th:selected="${type=='0' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=0">家常菜</option>
                                                        <option th:selected="${type=='1' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=1">鲁菜</option>
                                                        <option th:selected="${type=='2' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=2">粤菜</option>
                                                        <option th:selected="${type=='3' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=3">江苏菜</option>
                                                        <option th:selected="${type=='4' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=4">闽菜</option>
                                                        <option th:selected="${type=='5' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=5">浙江菜</option>
                                                        <option th:selected="${type=='6' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=6">湘菜</option>
                                                        <option th:selected="${type=='7' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=7">徽菜</option>
                                                        <option th:selected="${type=='8' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=8">川菜</option>
                                                        <option th:selected="${type=='9' ? 'true' : 'false'}"
                                                            value="/all_dishes?dishesCategory=9">外国菜</option>
                                                    </select>
                                                </th>
                                                <th>菜品单价</th>
                                                <th>修改/删除</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr align="center" class="gradeX" th:each="row : ${list}">
                                                <td width="20%" th:text="${row.dishesId}"></td>
                                                <td width="20%" th:text="${row.dishesName}"></td>
                                                <td width="20%" th:text="${map.get(row.dishesCategory)}"></td>
                                                <td width="20%" th:text="${row.dishesPrice}"></td>
                                                <td width="20%">
                                                    <div class="btn-group btn-group-justified">
                                                        <a href="#" class="btn btn-info">修改</a>
                                                        <a th:href="@{/dishes/del/{id}(id=${row.dishesId})}"
                                                            class="btn btn-danger">删除</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>菜品编号</th>
                                                <th>菜品名</th>
                                                <th>菜系</th>
                                                <th>菜品单价</th>
                                                <th>修改/删除</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <!--body wrapper end-->

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addDishes"
                class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h4 class="modal-title">添加菜品</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="post" th:action="@{/add_dishes}">
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">菜品名</label>
                                    <input name="dishesName" type="text" class="form-control" required
                                        placeholder="请输入菜品名">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">菜系选择</label>
                                    <select class="form-control m-bot15" name="dishesCategory">
                                        <option value="0">家常菜</option>
                                        <option value="1">鲁菜</option>
                                        <option value="2">粤菜</option>
                                        <option value="3">江苏菜</option>
                                        <option value="4">闽菜</option>
                                        <option value="5">浙江菜</option>
                                        <option value="6">湘菜</option>
                                        <option value="7">徽菜</option>
                                        <option value="8">川菜</option>
                                        <option value="9">外国菜</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">单价</label>
                                    <input name="dishesPrice" type="text" class="form-control" placeholder="请输入单价"
                                        onkeyup="value=value.replace(/[^\0-9.]/g,'')"
                                        onpaste="value=value.replace(/[^\0-9.]/g,'')"
                                        oncontextmenu="value=value.replace(/[^\0-9.]/g,'')" required>
                                </div>
                                <button type="submit" class="btn btn-primary">确认添加菜品</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div th:replace="common :: commonfooter">


            </div>
            <!-- main content end-->
    </section>


    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
    <!--dynamic table initialization -->
    <script src="js/dynamic_table_init.js"></script>


    <script src="js/scripts.js"></script>

    <div th:include="common :: commonscript"></div>

</body>

</html>