<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>首页</title>
    <link th:include="common :: commonheader">
</head>

<body class="sticky-header">

    <section>
        <div th:include="common :: commonleft"></div>

        <!-- main content start-->
        <div class="main-content">

            <div th:replace="common :: commonup"></div>

            <!-- page heading start-->
            <div class="page-heading">
                Page Tittle goes here
            </div>
            <!-- page heading end-->

            <!--body wrapper start-->
            <div class="wrapper">
                Body contents goes here
            </div>
            <!--body wrapper end-->

            <div th:replace="common :: commonfooter">


            </div>
            <!-- main content end-->
    </section>

    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery.nicescroll.js"></script>


    <!--common scripts for all pages-->
    <script src="js/scripts.js"></script>

</body>

</html>